.gitignore
scripts
*Dockerfile*
docker-compose.yml

node_modules
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/*.env*
**/.editorconfig
**/.next
**/.prettierignore
**/.prettierrc.js
**/cypress.json
**/cypress
**/.github
**/.editorconfig
**/.eslintignore
**/.eslintrc.js
